{% extends "layout.html" %} {% block content %}

<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">DaOktav Course</h1>
    <h3 class="strokeme mb-5">
      <em>Kursus Matematika Dengan Pemahaman</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">Temukan Lebih Banyak</a>
  </div>
  <div class="overlay"></div>
</header>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Layanan</h3>
      <h2 class="mb-5">Apa Yang Kami Tawarkan</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-vector"></i>
        </span>
        <h4>
          <strong>Pemahaman</strong>
        </h4>
        <p class="text-faded mb-0">Tinggalkan menghafalkan tanpa pemahaman!</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-heart"></i>
        </span>
        <h4>
          <strong>Sepenuh Hati</strong>
        </h4>
        <p class="text-faded mb-0">Sabar dalam mengajar.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-like"></i>
        </span>
        <h4>
          <strong>Favorit</strong>
        </h4>
        <p class="text-faded mb-0">Disukai
          <i class="fas fa-heart"></i> banyak murid.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-pencil"></i>
        </span>
        <h4>
          <strong>Antusias</strong>
        </h4>
        <p class="text-faded mb-0">Semangat mempelajari hal baru.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="portfolio">
  <div class="container">

    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Testimoni</h3>
      <h2 class="mb-5">Pengalaman Mereka Belajar Bersama Kami</h2>
    </div>

    <div id="my-carousel-testimonials" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#my-carousel-testimonials" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel-testimonials" data-slide-to="1"></li>
      </ol>

      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class=row>

            <!-- Azka -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/azka.jpg" width="10" height="20">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Azka hafizhah Jauhari</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>Siswa SMPN 23 Kota malang
                    </p>
                  </div>
                  <div class="item-box-blog-text">
                    <p>Belajar dengan mbak christin menyenangkan, dijelaskan dengan sabar
                      sampai kita paham. Sudah seperti keluarga sendiri</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Bismar -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/bismar.jpg">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Bismar Riliansyah</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>Mahasiswa Alihjenjang Diploma 3 STAN
                    </p>
                  </div>
                  <div class="item-box-blog-text">
                    <p>Smart, sabar, dan telaten</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Maghza -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/maghza.jpg">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Maghza Emalya Rochim</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>Mahasiswi D3 Akuntansi UNAIR
                    </p>
                  </div>
                  <div class="item-box-blog-text">
                    <p>Pintar dalam menjelaskan , memberi pengertian,
                      memberi contoh dengan jelas, mengajari dengan sabar
                      dan cara mengajarnya mudah untuk dipahami.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="carousel-item">
          <div class=row>

            <!-- Kamila -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/kamila.jpg">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Kamilatus Shaleha</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>
                      Mahasiswi D3 Kebidanan Poltekkes Kemenkes Malang
                    </p>
                  </div>
                  <div class="item-box-blog-text">
                    <p>
                      Study with ba' Cristin
                      Happy karena penjelasannya sangat detail dan mudah dimengerti. Selain itu,
                      ba' Crhistin juga jadi motivator kami
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Fiza -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/fiza.jpg">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Hafiza</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>Alumni S2 Pendidikan Bahasa Arab UIN Maliki
                    </p>
                  </div>
                  <div class="item-box-blog-text">
                    <p>Cara menjelaskan nya sangat sistematis,
                      mudah dipahami, sangat teliti ketika menjelaskan
                      dan yang paling penting cara mengajarnya mudah dipahami.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sururin -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/sururin.jpg">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Sururin Fitriyana</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>Alumni Universitas Negeri Malang
                    </p>
                  </div>
                  <div class="item-box-blog-text">
                    <p>Christina menggunakan bahasa yang sederhana
                      sehingga membuat siswa akan mudah memahami
                      materi yang disampaikan. Christina juga sabar dan mengayomi</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="carousel-item">
          <div class=row>

            <!-- Novi -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/novi.jpg">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Umi harikah novianti</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>Alumni Keperawatan Poltekkes Kemenkes Malang
                    </p>
                  </div>
                  <div class="item-box-blog-text">
                    <p>Sangat telaten dan detail dalam menjelaskan atau
                      mendeskripsikan sesuatu</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Ririn -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/ririn.jpg">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Ririn sorianingsih</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>Alumni sarjana terapan Poltekkes Kemenkes Malang
                    </p>
                  </div>
                  <div class="item-box-blog-text">
                    <p>Baik, sabar, komunikatif</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Mahar -->
            <div class="col-md-4">
              <div class="item-box-blog">
                <div class="item-box-blog-image">
                  <figure>
                    <img alt="" src="https://raw.githubusercontent.com/daoktav/blobs/master/course/irma.jpg">
                  </figure>
                </div>
                <div class="item-box-blog-body">
                  <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                      <h5>Irma maharani</h5>
                    </a>
                  </div>
                  <div class="item-box-blog-data" style="padding: px 15px;">
                    <p>
                      <i class="fa fa-user-o"></i>Alumni Poltekkes Palembang
                    </p>
                  </div>
                  <!--Text-->
                  <div class="item-box-blog-text">
                    <p>She is smart... really good when teaching someone...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>

      <!-- navigation -->
      <a class="carousel-control-prev" href="#my-carousel-testimonials" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#my-carousel-testimonials" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

</section>

<!-- Contact Section -->
<section class="content-section bg-primary text-white text-center" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Mari berMatematika Ria!</h2>
        <hr class="divider my-4">
        <p class="text-white mb-5">Tertarik untuk belajar dengan kami? Hubungi kami melalui whatsapp atau email dibawah ini.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-white"></i>
        <div>Christina Oktavia</div>
        <div>081216205000</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-white"></i>
        <a class="d-block text-white" href="mailto:course@daoktav.com">course@daoktav.com</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
