{% extends "layout.html" %}

{% block content %}
<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">DaOktav Course</h1>
    <h3 class="strokeme mb-5">
      <em>Kursus Matematika Dengan Pemahaman</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
  </div>
  <div class="overlay"></div>
</header>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="services">
  <div class="container">
    <div class="content-section-heading">
      <h3 class="text-secondary mb-0">Layanan</h3>
      <h2 class="mb-5">Apa Yang Kami Tawarkan</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-screen-smartphone"></i>
        </span>
        <h4>
          <strong>Pemahaman</strong>
        </h4>
        <p class="text-faded mb-0">Tinggalkan menghafalkan tanpa pemahaman!</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-pencil"></i>
        </span>
        <h4>
          <strong>Sepenuh Hati</strong>
        </h4>
        <p class="text-faded mb-0">Sabar dalam mengajar.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-like"></i>
        </span>
        <h4>
          <strong>Favorit</strong>
        </h4>
        <p class="text-faded mb-0">Disukai
          <i class="fas fa-heart"></i>
          banyak murid.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="service-icon rounded-circle mx-auto mb-3">
          <i class="icon-mustache"></i>
        </span>
        <h4>
          <strong>Antusias</strong>
        </h4>
        <p class="text-faded mb-0">Semangat mempelajari hal baru.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio</h3>
      <h2 class="mb-5">Recent Projects</h2>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Stationary</h2>
              <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
            </span>
          </span>
          <img class="img-fluid" src="./static/img/portfolio-1.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Ice Cream</h2>
              <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
            </span>
          </span>
          <img class="img-fluid" src="./static/img/portfolio-2.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Strawberries</h2>
              <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
            </span>
          </span>
          <img class="img-fluid" src="./static/img/portfolio-3.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <h2>Workspace</h2>
              <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
            </span>
          </span>
          <img class="img-fluid" src="./static/img/portfolio-4.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Contact Section -->
<section class="content-section bg-primary text-white text-center" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Mari berMatematika Ria!</h2>
        <hr class="divider my-4">
        <p class="text-white mb-5">Tertarik untuk belajar dengan kami? Hubungi kami melalui whatsapp atau email dibawah ini.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
        <i class="fas fa-phone fa-3x mb-3 text-white"></i>
        <div>+1 (202) 555-0149</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-white"></i>
        <a class="d-block text-white" href="mailto:course@daoktav.com">course@daoktav.com</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}
